@{
    ViewData["Title"] = "صفحة التواصل";
}
<h2>صفحة التواصل</h2>


<address>
   جيش التحري الفلسطيني<br />
   رققم التواصل 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <a href="mailto:Support@example.com">Support@example.com   </a><strong>الدعم  :</strong> <br />
    <a href="mailto:Marketing@example.com">Marketing@example.com  </a><strong>  التسويق:</strong> 
</address>
